// -- COLOR VARIABLE
:root {
  --color-black100: #000000;
  --color-black80: #222222;
  --color-black70: #666666;
  --color-black60: #888888;
  --color-black50: #c4c4c4;
  --color-black40: #cccccc;
  --color-black30: #dddddd;
  --color-black20: #f7f7f7;
  --color-white100: #ffffff;
  --color-orange100: #f77f00;
  --color-blue100: #003049;
  --color-blue80: #05668d;
  --color-red100: #d62828;
  --color-green100: #02c39a;
  --color-yellow100: #fcbf49;
}

// -- TYPOGRAPHY VARIABLE

$font-base-size: 16px;
$font-base-line-height: 1.5em !default;
$font-scale: 1.414 !default;

$font-paths: '/static/fonts/ponder/';
$icon-paths: '/static/fonts/icons/';
$font-colection: (
  Black: 'Ponder-Black',
  Bold: 'Ponder-Bold',
  Regular: 'Ponder-Regular',
  Light: 'Ponder-Light',
  Thin: 'Ponder-Thin',
  Medium: 'Ponder-Medium'
) !default;

$font-fm-base: 'Ponder-Regular', sans-serif;
$font-fm-bold: 'Ponder-Bold', sans-serif;
$font-fm-medium: 'Ponder-Medium', sans-serif;
$font-fm-black: 'Ponder-Black', sans-serif;
$font-fm-light: 'Ponder-Light', sans-serif;
$font-fm-thin: 'Ponder-Thin', sans-serif;

$paragraph-color: var(--color-black80);
$paragraph-size: 16px;
$paragraph-line-height: $font-base-line-height;
$paragraph-margin: 16px;

$header-color: var(--color-black80);
$header-size: 56px;
$header-line-height: 1.25em;
$header-margin: $paragraph-margin * 1.2;
