.c-home {
  position: relative;

  .title {
    margin: 0;
    font-family: $font-fm-medium;
    text-align: center;

    span {
      font-size: inherit;
      color: var(--color-blue30);
      font-family: $font-fm-black;
    }
  }

  .sub-title {
    text-align: center;
  }

  .desc {
    text-align: center;
  }

  .diver {
    display: block;
    width: 100%;
    margin: 2rem 0;
    border-top: 1px solid var(--color-black30);
  }

  .list-feature {
    display: grid;
    grid-gap: 20px;
    gap: 20px;
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  .feature-title {
    color: var(--color-blue80);
    margin-top: 8px;
  }

  .feature-desc {
    font-size: 14px;
    margin-bottom: 14px;
  }

  .feature-cta {
    font-size: 14px;
    color: var(--color-orange100);
  }
}
