<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/_head') -%>
  </head>

  <body class="c-docs">
    <header class="c-docs__header row align-items-center">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <p class="brand">Boilerplate<span>EJS</span></p>
          </div>
          <div class="col-auto">
            <ul class="nav">
              <li><a href="">Docs Github</a></li>
              <li>v1.0.1</li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="o-main-wrapper">
      <div class="container">
        <div class="row pt-4">
          <div class="col-12 col-md-2">
            <aside class="c-docs__menu">
              <ul>
                <li class="label">Content</li>
                <li><a href="#docs-typography">Typography</a></li>
                <li><a href="#docs-colors">Colors</a></li>
              </ul>
            </aside>
          </div>
          <div class="col pl-md-6">

            <section class="o-section" id="docs-typography">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <h2 class="c-docs__heading">
                      <a href="#docs-typography">Base of typography</a>
                    </h2>
                    <p>
                      Our typography, the most important medium of communication in our platform, needs to be perfectly
                      legible to convey the core value of our brand.
                    </p>

                    <h3 class="c-docs__headline pt-5 pb-3">Our typeface</h3>
                    <h3 class="c-docs__headline pt-5 pb-3">Heading</h3>
                    <h3 class="c-docs__headline pt-5 pb-3">Paragraph</h3>
                  </div>

                </div>
              </div>
            </section>

            <section class="o-section" id="docs-colors">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <h2 class="c-docs__heading">
                      <a href="#docs-colors">Base of Colors</a>
                    </h2>
                    <p>
                      colors play an important role when we are working with a product, a service or a space. The right
                      combination of colors can influence how users feel, think, and behave.
                    </p>

                    <h3 class="c-docs__headline pt-5 pb-3">Primary Colors</h3>
                    <h3 class="c-docs__headline pt-5 pb-3">Secondary Colors</h3>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </div>
    </main>


    <%- include('partials/_script') -%>
  </body>

</html>
